In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests
# Import the API key
from config import g_key

In [2]:
# Store the CSV you created in part on into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2020-02-24 03:39:01,22.08,-159.32,80.60,65,20,9.17
1,1,Hansi,IN,2020-02-24 03:39:01,29.10,75.97,63.72,57,20,3.18
2,2,Castro,BR,2020-02-24 03:39:01,-24.79,-50.01,57.61,94,100,8.41
3,3,Fortuna,US,2020-02-24 03:39:01,40.60,-124.16,50.00,93,90,6.93
4,4,Severo-Kurilsk,RU,2020-02-24 03:39:02,50.68,156.12,26.60,96,100,34.47

In [3]:
# Get the data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps = [max(temp,0) for temp in max_temp]

In [6]:
# Heatmap of temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the humidity
humidity = city_data_df["Humidity"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the cloudiness
cloudiness = city_data_df["Cloudiness"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=cloudiness, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the cloudiness
wind = city_data_df["Wind Speed"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0,31.0),zoom_level=1.5)
# Assign the heatmap variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer
fig.add_layer(heat_layer)
# Call the figure to plot the data
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?95

In [11]:
# Filter the dataset to find the cities that fit the criteria
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2020-02-24 03:39:01,22.08,-159.32,80.60,65,20,9.17
8,8,Saint-Georges,GD,2020-02-24 03:39:02,12.06,-61.75,78.80,88,75,12.75
9,9,Rikitea,PF,2020-02-24 03:39:03,-23.12,-134.97,80.06,69,12,7.72
13,13,Georgetown,MY,2020-02-24 03:34:12,5.41,100.34,87.80,66,20,4.70
15,15,Angoche,MZ,2020-02-24 03:39:04,-16.23,39.91,75.49,96,77,4.65
21,21,Boa Vista,BR,2020-02-24 03:39:05,2.82,-60.67,86.00,58,4,9.17
24,24,Port Keats,AU,2020-02-24 03:39:06,-14.25,129.55,89.06,63,100,13.67
26,26,Kavieng,PG,2020-02-24 03:39:06,-2.57,150.80,85.08,69,24,10.00
28,28,Avarua,CK,2020-02-24 03:39:07,-21.21,-159.78,78.80,94,100,3.36
30,30,Kavaratti,IN,2020-02-24 03:39:07,10.57,72.64,82.40,83,20,4.70

In [12]:
preferred_cities_df.count()

City_ID       165
City          165
Country       164
Date          165
Lat           165
Lng           165
Max Temp      165
Humidity      165
Cloudiness    165
Wind Speed    165
dtype: int64

In [13]:
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kapaa,US,2020-02-24 03:39:01,22.08,-159.32,80.60,65,20,9.17
8,8,Saint-Georges,GD,2020-02-24 03:39:02,12.06,-61.75,78.80,88,75,12.75
9,9,Rikitea,PF,2020-02-24 03:39:03,-23.12,-134.97,80.06,69,12,7.72
13,13,Georgetown,MY,2020-02-24 03:34:12,5.41,100.34,87.80,66,20,4.70
15,15,Angoche,MZ,2020-02-24 03:39:04,-16.23,39.91,75.49,96,77,4.65
...,...,...,...,...,...,...,...,...,...,...
555,555,Trujillo,PE,2020-02-24 03:37:40,-8.12,-79.03,75.20,88,75,8.05
556,556,Funadhoo,MV,2020-02-24 03:40:51,6.15,73.27,83.39,78,43,20.80
557,557,Mayumba,GA,2020-02-24 03:40:51,-3.43,10.66,81.55,77,100,4.76
565,565,Manggar,ID,2020-02-24 03:40:53,-2.88,108.27,82.94,79,0,16.93
566,566,Atar,MR,2020-02-24 03:40:53,20.52,-13.05,77.45,19,93,9.24

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp    Lat     Lng Hotel Name
0           Kapaa      US     80.60  22.08 -159.32
8   Saint-Georges      GD     78.80  12.06  -61.75
9         Rikitea      PF     80.06 -23.12 -134.97
13     Georgetown      MY     87.80   5.41  100.34
15        Angoche      MZ     75.49 -16.23   39.91
21      Boa Vista      BR     86.00   2.82  -60.67
24     Port Keats      AU     89.06 -14.25  129.55
26        Kavieng      PG     85.08  -2.57  150.80
28         Avarua      CK     78.80 -21.21 -159.78
30      Kavaratti      IN     82.40  10.57   72.64

In [15]:
# Set paramters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key}

# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to location key for the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Use the search terms: "lodging" and our latitude and longitude
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")        
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Kapaa,US,80.60,22.08,-159.32,Sheraton Kauai Resort at Coconut Beach
8,Saint-Georges,GD,78.80,12.06,-61.75,Radisson Grenada Beach Resort
9,Rikitea,PF,80.06,-23.12,-134.97,Pension Maro'i
13,Georgetown,MY,87.80,5.41,100.34,Cititel Penang
15,Angoche,MZ,75.49,-16.23,39.91,Guest House HESADA
21,Boa Vista,BR,86.00,2.82,-60.67,Aipana Plaza Hotel
24,Port Keats,AU,89.06,-14.25,129.55,TDC Village (Hundred Man Camp)
26,Kavieng,PG,85.08,-2.57,150.80,Nusa Island Retreat
28,Avarua,CK,78.80,-21.21,-159.78,Paradise Inn
30,Kavaratti,IN,82.40,10.57,72.64,Hotels in Lakshadweep Islands

In [25]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [20]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame row
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [22]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))